* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
header {
    width: 100%;
    background: #AFAFAF;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
}

header nav {
    height: 100%;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

header .welcome-user {
    width: 10%;
    min-width: 200px;
    font-size: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

main {
    padding-top: 50px;
}

main .content-wrap {
    width: 1440px;
    max-width: 90%;
    margin: auto;
}

#new_recipe .form-container {
    display: flex;
    flex-flow: column nowrap;
    width: 600px;
    margin: 0 auto;
}

#new_recipe .form-container form .input-box {
    display: flex;
    flex-flow: column nowrap;
}

#new_recipe .form-container form .input-box label,
#new_recipe .form-container form .input-box input,
#new_recipe .form-container form .input-box textarea {
    width: 100%;
}

#new_recipe .form-container form .input-box label {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
}

#new_recipe .form-container form .input-box input {
    margin-bottom: 15px;
}

#new_recipe .form-container form .input-box input[type=range] {
    margin-bottom: 0;
}

#new_recipe .form-container form .input-box textarea {
    margin-bottom: 15px;
}

#new_recipe .form-container form .input-box .slider-values {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

#new_recipe .form-container form .input-box .slider-values span {
    font-size: 12px;
}

#new_recipe .form-container form .table-container {
    display: flex;
    flex-direction: column;
}

#new_recipe .form-container form table {
    width: 100%;
}

#new_recipe .form-container form table caption {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

#new_recipe .form-container form table thead tr th {
    text-align: left;
}

#new_recipe .form-container form table tbody tr td {
    padding: 10px 10px 10px 0;
}

#new_recipe .form-container form table tbody tr td select{
    height: 30px;
    padding: 0 10px;
    min-width: 100%;
}

#new_recipe .form-container form table tbody tr td input{
    width: 100%;
}

#new_recipe .form-container form table tbody tr td .delete-button {
    background: #860000;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 8px;;
}

#new_recipe .form-container form table tbody tr td .delete-button:hover {
    opacity: 0.7;
}

#new_recipe .form-container form .table-container a.add_row_button {
    background: #74bf21;
    padding: 10px 25px;
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    font-family: Arial, serif;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

#new_recipe .form-container form .table-container a.add_row_button:hover {
    opacity: 0.8;
}

#new_recipe .form-container form input[type=submit] {
    margin: auto;
    display: flex;
    justify-content: center;
}

.recipe-box {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 30px;
    width: 100%;
}

.recipe-box .image-box {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
}

.recipe-box .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.recipe-box .recipe-data {
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    padding-left: 20px;
}

.recipe-box .recipe-data .data-type {
    font-weight: 700;
}

.recipe-box .recipe-data .ingredients {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 10px;
    margin: 5px 0;
    width: 50%;
}

.recipe-box .recipe-data .ingredients li {
    display: flex;
    flex-flow: row nowrap;
}

.recipe-box .recipe-data .ingredients li .ingredient-name {
    width: 50%;
    margin-bottom: 5px;
}

.recipe-box .recipe-data .ingredients li .required-amount {
    width: 50%;
}

.login-form-container {
    display: flex;
    flex-flow: row nowrap;
    max-width: 300px;
    margin: auto;
}

.login-form-container form {
    width: 100%;
}
.login-form-container .input-fields {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
.login-form-container .input-fields label {
    margin-bottom: 5px;
}

.login-form-container .input-fields input {
    width: 100%;
    margin-bottom: 30px;
}

.new-item .input-box {
    display: flex;
    flex-flow: column nowrap;
}

.new-item form {
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
}

.new-item .input-box label {
    margin-bottom: 5px;
}


.new-item .input-box select,
.new-item .input-box input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

span.required {
    color: #FF0000;
}

form div.info {
    margin: 50px 0;
}

footer {
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.response_message {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 50px;
}

.response_message.successful {
    color: green;
}

.response_message.error {
    color: red;
}

.user-pantry {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.user-pantry .table-wrap {
    padding: 50px 0;
}

.user-pantry .table-wrap table {
    border-spacing: 0 5px;
}

.user-pantry .table-wrap table caption {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 30px;
}

.user-pantry .table-wrap table th,
.user-pantry .table-wrap table td {
    padding: 2px 15px;
}

.delete-form form {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
}

.delete-form .delete-button {
    width: 30px;
    height: 30px;
    color: white;
    background: darkred;
    border-radius: 4px;
    font-size: 22px;
    cursor: pointer;
}

.delete-form .delete-button:hover {
    opacity: 0.7;
}

.modify-form form {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
}

.modify-form input[type=number] {
    width: 116px;
    padding: 6px;
    height: 30px;
    margin-right: 5px;
}

.modify-form input[type=submit] {
    height: 30px;
    padding: 6px;
    cursor: pointer;
}

.warning {
    color: red;
    background: #FF000022;
}
